<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI7GiWmqe5TwAHXXvgOeJaW_nyABaVJuI</string>
	<key>GCM_SENDER_ID</key>
	<string>871828100244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chattingApp.chatProgram</string>
	<key>PROJECT_ID</key>
	<string>chattingapp-dbc3b</string>
	<key>STORAGE_BUCKET</key>
	<string>chattingapp-dbc3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871828100244:ios:1e4f16b85cc7f5a25d1081</string>
</dict>
</plist>